<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<div class="container text-center" th:unless="${#lists.isEmpty(services)}">
    
  <h2>service packages</h2>
  
  <table>
    <thead>
      <tr>
        <th >Name</th>
        <th >Mobile Phone</th>
        <th >Mobile Internet</th>
        <th >Fixed Phone</th>
        <th >Fixed Internet</th>
        <th >Validity Period</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="s : ${services}">
        <td th:text="${s.name}"></td>
        <td>
          <table>
            <tbody>
              <tr th:each="m : ${s.mobilePhones}">
                <td th:text="${m.min}+ ' ' +min"></td>
                <td th:text="${m.sms}+ ' '+ sms"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
              <tr th:each="m : ${s.mobileInternets}">
                <td th:text="${m.gigabytes}+ ' '+ Gb"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
              <tr th:each="m : ${s.fixedPhones}">
                <td th:text="${m.name} "></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
              <tr th:each="m : ${s.fixedInternets}">
                <td th:text="${m.gigabytes}+ ' '+ Gb"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
              <tr th:each="m : ${s.validityPeriods}">
                <td th:text="${m.monthlyFee}+' EUR per '+${m.months} +' months'"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
    <span th:if="${user == null}"><a th:href="@{/login}">sign in to buy a service package!</a></span>
    <span th:unless="${user ==null}">Welcome <a th:text="${user.username}"></a> buy a service package (link) </span>

</body>
</html>